In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Analysis  = pd.read_csv('Analysis.csv')
Max = pd.read_csv('Max.csv', index_col=0,na_values='')
Parameter = pd.read_csv('Parameter.csv')

In [3]:
Analysis

,Reg No,Name,Q. No. 1 (2),Q. No. 2 (2),Q. No. 3 (2),Q. No. 4 (2),Q. No. 5 (4),Q. No. 6 (4),Q. No. 7 (4),Q. No. 8 (4),Q. No. 9 (5),Q. No. 10 (5),Q. No. 11 (5),Q. No. 12 (5),Q. No. 13 (6),Unnamed: 15
0,201821301.0,Roahni Pradhan,2.00,0.00,2.00,0.00,4.00,3.00,4.00,0.00,0.00,5.00,0.00,0.00,4,NaN
1,201821302.0,Saugat Chettri,2.00,0.00,2.00,0.00,2.50,3.50,3.00,0.00,0.00,3.00,5.00,0.00,6,NaN
2,201821303.0,Aditya Chettri,2.00,1.00,2.00,0.00,1.50,2.50,1.00,0.00,3.00,3.00,0.00,5.00,6,NaN
3,201821304.0,Sabina Begum,1.00,2.00,2.00,2.00,4.00,4.00,0.00,3.00,0.00,3.00,3.00,0.00,0,NaN
4,201821305.0,Darshana Chettri,2.00,2.00,2.00,0.00,2.50,4.00,4.00,0.00,4.00,4.50,3.00,5.00,6,NaN
5,201821306.0,Senaz Iqbal,2.00,0.00,2.00,0.00,1.00,4.00,0.00,0.00,0.00,3.00,0.00,3.00,6,NaN
6,201821307.0,Lincho Lepcha,2.00,0.00,1.00,0.00,3.00,0.00,0.00,0.00,1.00,3.00,1.00,1.00,3,NaN
7,201821309.0,Abisek Sunar,2.00,1.00,1.00,0.00,4.00,4.00,2.00,3.00,0.00,3.00,0.00,4.00,5,NaN
8,201821310.0,Naresh Chettri,1.00,2.00,2.00,0.00,2.00,3.50,4.00,0.00,3.00,4.00,1.50,0.00,4,NaN
9,201821311.0,Roshan Sarmah,0.00,0.00,1.00,0.00,0.00,2.00,0.00,0.00,2.00,3.00,1.00,5.00,6,NaN
10,201821312.0,Aishwarya Rai,2.00,1.50,2.00,0.00,2.00,4.00,4.00,3.00,5.00,0.00,3.50,0.00,6,NaN
11,201821313.0,Avishek Khatiwara,2.00,1.00,2.00,0.00,1.00,3.00,2.00,2.00,1.00,5.00,3.00,5.00,5,NaN
12,201821314.0,Amrita Kumari Gupta,1.50,1.00,2.00,NaN,3.00,4.00,4.00,4.00,0.00,5.00,3.50,5.00,,NaN
13,201821315.0,Prajula Gurung,2.00,0.00,2.00,0.00,4.00,3.00,4.00,2.00,5.00,5.00,2.00,0.00,6,NaN
14,201821316.0,Bhoj Raj Chettri,2.00,1.50,2.00,0.00,2.00,4.00,4.00,1.50,1.00,5.00,0.00,4.00,6,NaN
15,201821318.0,Kishore Ghimirey Sharma,1.00,1.50,1.00,NaN,2.00,2.50,4.00,1.00,3.00,5.00,0.00,0.00,6,NaN
16,201821319.0,Kailash Limboo,0.00,0.00,2.00,0.00,1.00,4.00,0.00,0.00,0.00,0.00,0.00,5.00,1,NaN
17,201821320.0,Chandra Hang Subba,2.00,1.50,2.00,0.00,1.00,4.00,0.00,0.00,5.00,3.00,1.00,0.00,1.5,NaN
18,201821321.0,Nima Sherpa,0.00,0.00,1.00,0.00,3.00,4.00,0.00,0.00,0.00,5.00,1.00,0.00,0,NaN
19,201821322.0,Bandana Pradhan,2.00,0.00,0.00,0.00,0.00,4.00,2.00,1.00,1.00,2.00,0.00,0.00,4,NaN
20,201821323.0,Pratigya Rizal,2.00,2.00,2.00,0.00,1.00,4.00,4.00,3.00,4.00,3.00,4.00,5.00,6,NaN
21,NaN,Max Marks,32.50,18.00,35.00,2.00,44.50,71.00,46.00,23.50,38.00,72.50,32.50,47.00,30.50,NaN
22,NaN,Total Percentage,77.38,42.85,83.33,4.76,52.97,84.52,54.76,27.97,36.19,69.04,30.95,44.76,24.2,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
Max

,BL,Unnamed: 2,Unnamed: 3,PI,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,CO,Unnamed: 12,PSO,PO,Unnamed: 15
Level Values,2.00,3.00,4.00,1.10,1.20,1.30,1.40,2.10,2.30,2.40,1.00,2.00,1.00,1.00,2.00
Max Marks,71.00,72.50,47.00,44.50,47.00,71.00,32.50,30.50,72.50,32.50,71.00,72.50,72.50,72.50,72.50
Total Percentage,84.52,69.04,44.76,52.97,44.76,84.52,77.38,24.20,69.04,30.95,84.52,69.04,69.04,69.04,69.04
Marks Obtained,3.38,3.45,2.23,2.11,2.23,3.38,1.54,1.45,3.45,1.54,3.38,3.45,3.45,3.45,3.45
Obtained Percentage,84.50,69.00,44.60,52.75,44.60,84.50,77.00,24.16,69.00,30.80,84.50,69.00,69.00,69.00,69.00

In [5]:
Parameter

    Question Number   Marks  BL        PI    CO  PSO    PO
0                  1      2   2       1.4     1    1  1, 2
1                  2      2   3       2.1     2    1  1, 2
2                  3      2   2       1.1     1    1  1, 2
3                  4      2   2       1.1     1    1  1, 2
4                  5      4   2       1.1     1    1  1, 2
5                  6      4   2       1.3     1    1  1, 2
6                  7      4   3       1.3     1    1  1, 2
7                  8      4   2       1.4     1    1  1, 2
8                  9      5   4  1.1, 1.2     1    1  1, 2
9                 10      5   3       2.3     2    1  1, 2
10                11      5   2       2.4     1    1  1, 2
11                12      5   4  1.1, 1.2     1    1  1, 2
12                13      6   3  1.2, 2.1  1, 2    1  1, 2

In [6]:
Analysis = Analysis.drop("Unnamed: 15", axis=1)

In [7]:
Analysis

,Reg No,Name,Q. No. 1 (2),Q. No. 2 (2),Q. No. 3 (2),Q. No. 4 (2),Q. No. 5 (4),Q. No. 6 (4),Q. No. 7 (4),Q. No. 8 (4),Q. No. 9 (5),Q. No. 10 (5),Q. No. 11 (5),Q. No. 12 (5),Q. No. 13 (6)
0,201821301.0,Roahni Pradhan,2.00,0.00,2.00,0.00,4.00,3.00,4.00,0.00,0.00,5.00,0.00,0.00,4
1,201821302.0,Saugat Chettri,2.00,0.00,2.00,0.00,2.50,3.50,3.00,0.00,0.00,3.00,5.00,0.00,6
2,201821303.0,Aditya Chettri,2.00,1.00,2.00,0.00,1.50,2.50,1.00,0.00,3.00,3.00,0.00,5.00,6
3,201821304.0,Sabina Begum,1.00,2.00,2.00,2.00,4.00,4.00,0.00,3.00,0.00,3.00,3.00,0.00,0
4,201821305.0,Darshana Chettri,2.00,2.00,2.00,0.00,2.50,4.00,4.00,0.00,4.00,4.50,3.00,5.00,6
5,201821306.0,Senaz Iqbal,2.00,0.00,2.00,0.00,1.00,4.00,0.00,0.00,0.00,3.00,0.00,3.00,6
6,201821307.0,Lincho Lepcha,2.00,0.00,1.00,0.00,3.00,0.00,0.00,0.00,1.00,3.00,1.00,1.00,3
7,201821309.0,Abisek Sunar,2.00,1.00,1.00,0.00,4.00,4.00,2.00,3.00,0.00,3.00,0.00,4.00,5
8,201821310.0,Naresh Chettri,1.00,2.00,2.00,0.00,2.00,3.50,4.00,0.00,3.00,4.00,1.50,0.00,4
9,201821311.0,Roshan Sarmah,0.00,0.00,1.00,0.00,0.00,2.00,0.00,0.00,2.00,3.00,1.00,5.00,6
10,201821312.0,Aishwarya Rai,2.00,1.50,2.00,0.00,2.00,4.00,4.00,3.00,5.00,0.00,3.50,0.00,6
11,201821313.0,Avishek Khatiwara,2.00,1.00,2.00,0.00,1.00,3.00,2.00,2.00,1.00,5.00,3.00,5.00,5
12,201821314.0,Amrita Kumari Gupta,1.50,1.00,2.00,NaN,3.00,4.00,4.00,4.00,0.00,5.00,3.50,5.00,
13,201821315.0,Prajula Gurung,2.00,0.00,2.00,0.00,4.00,3.00,4.00,2.00,5.00,5.00,2.00,0.00,6
14,201821316.0,Bhoj Raj Chettri,2.00,1.50,2.00,0.00,2.00,4.00,4.00,1.50,1.00,5.00,0.00,4.00,6
15,201821318.0,Kishore Ghimirey Sharma,1.00,1.50,1.00,NaN,2.00,2.50,4.00,1.00,3.00,5.00,0.00,0.00,6
16,201821319.0,Kailash Limboo,0.00,0.00,2.00,0.00,1.00,4.00,0.00,0.00,0.00,0.00,0.00,5.00,1
17,201821320.0,Chandra Hang Subba,2.00,1.50,2.00,0.00,1.00,4.00,0.00,0.00,5.00,3.00,1.00,0.00,1.5
18,201821321.0,Nima Sherpa,0.00,0.00,1.00,0.00,3.00,4.00,0.00,0.00,0.00,5.00,1.00,0.00,0
19,201821322.0,Bandana Pradhan,2.00,0.00,0.00,0.00,0.00,4.00,2.00,1.00,1.00,2.00,0.00,0.00,4
20,201821323.0,Pratigya Rizal,2.00,2.00,2.00,0.00,1.00,4.00,4.00,3.00,4.00,3.00,4.00,5.00,6
21,NaN,Max Marks,32.50,18.00,35.00,2.00,44.50,71.00,46.00,23.50,38.00,72.50,32.50,47.00,30.50
22,NaN,Total Percentage,77.38,42.85,83.33,4.76,52.97,84.52,54.76,27.97,36.19,69.04,30.95,44.76,24.2
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Analysis = Analysis.iloc[:23,]

In [9]:
Analysis

,Reg No,Name,Q. No. 1 (2),Q. No. 2 (2),Q. No. 3 (2),Q. No. 4 (2),Q. No. 5 (4),Q. No. 6 (4),Q. No. 7 (4),Q. No. 8 (4),Q. No. 9 (5),Q. No. 10 (5),Q. No. 11 (5),Q. No. 12 (5),Q. No. 13 (6)
0,201821301.0,Roahni Pradhan,2.00,0.00,2.00,0.00,4.00,3.00,4.00,0.00,0.00,5.00,0.00,0.00,4
1,201821302.0,Saugat Chettri,2.00,0.00,2.00,0.00,2.50,3.50,3.00,0.00,0.00,3.00,5.00,0.00,6
2,201821303.0,Aditya Chettri,2.00,1.00,2.00,0.00,1.50,2.50,1.00,0.00,3.00,3.00,0.00,5.00,6
3,201821304.0,Sabina Begum,1.00,2.00,2.00,2.00,4.00,4.00,0.00,3.00,0.00,3.00,3.00,0.00,0
4,201821305.0,Darshana Chettri,2.00,2.00,2.00,0.00,2.50,4.00,4.00,0.00,4.00,4.50,3.00,5.00,6
5,201821306.0,Senaz Iqbal,2.00,0.00,2.00,0.00,1.00,4.00,0.00,0.00,0.00,3.00,0.00,3.00,6
6,201821307.0,Lincho Lepcha,2.00,0.00,1.00,0.00,3.00,0.00,0.00,0.00,1.00,3.00,1.00,1.00,3
7,201821309.0,Abisek Sunar,2.00,1.00,1.00,0.00,4.00,4.00,2.00,3.00,0.00,3.00,0.00,4.00,5
8,201821310.0,Naresh Chettri,1.00,2.00,2.00,0.00,2.00,3.50,4.00,0.00,3.00,4.00,1.50,0.00,4
9,201821311.0,Roshan Sarmah,0.00,0.00,1.00,0.00,0.00,2.00,0.00,0.00,2.00,3.00,1.00,5.00,6
10,201821312.0,Aishwarya Rai,2.00,1.50,2.00,0.00,2.00,4.00,4.00,3.00,5.00,0.00,3.50,0.00,6
11,201821313.0,Avishek Khatiwara,2.00,1.00,2.00,0.00,1.00,3.00,2.00,2.00,1.00,5.00,3.00,5.00,5
12,201821314.0,Amrita Kumari Gupta,1.50,1.00,2.00,NaN,3.00,4.00,4.00,4.00,0.00,5.00,3.50,5.00,
13,201821315.0,Prajula Gurung,2.00,0.00,2.00,0.00,4.00,3.00,4.00,2.00,5.00,5.00,2.00,0.00,6
14,201821316.0,Bhoj Raj Chettri,2.00,1.50,2.00,0.00,2.00,4.00,4.00,1.50,1.00,5.00,0.00,4.00,6
15,201821318.0,Kishore Ghimirey Sharma,1.00,1.50,1.00,NaN,2.00,2.50,4.00,1.00,3.00,5.00,0.00,0.00,6
16,201821319.0,Kailash Limboo,0.00,0.00,2.00,0.00,1.00,4.00,0.00,0.00,0.00,0.00,0.00,5.00,1
17,201821320.0,Chandra Hang Subba,2.00,1.50,2.00,0.00,1.00,4.00,0.00,0.00,5.00,3.00,1.00,0.00,1.5
18,201821321.0,Nima Sherpa,0.00,0.00,1.00,0.00,3.00,4.00,0.00,0.00,0.00,5.00,1.00,0.00,0
19,201821322.0,Bandana Pradhan,2.00,0.00,0.00,0.00,0.00,4.00,2.00,1.00,1.00,2.00,0.00,0.00,4
20,201821323.0,Pratigya Rizal,2.00,2.00,2.00,0.00,1.00,4.00,4.00,3.00,4.00,3.00,4.00,5.00,6
21,NaN,Max Marks,32.50,18.00,35.00,2.00,44.50,71.00,46.00,23.50,38.00,72.50,32.50,47.00,30.50
22,NaN,Total Percentage,77.38,42.85,83.33,4.76,52.97,84.52,54.76,27.97,36.19,69.04,30.95,44.76,24.2

In [10]:
Max = Max.iloc[:5,]

In [11]:
Max

,BL,Unnamed: 2,Unnamed: 3,PI,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,CO,Unnamed: 12,PSO,PO,Unnamed: 15
Level Values,2.00,3.00,4.00,1.10,1.20,1.30,1.40,2.10,2.30,2.40,1.00,2.00,1.00,1.00,2.00
Max Marks,71.00,72.50,47.00,44.50,47.00,71.00,32.50,30.50,72.50,32.50,71.00,72.50,72.50,72.50,72.50
Total Percentage,84.52,69.04,44.76,52.97,44.76,84.52,77.38,24.20,69.04,30.95,84.52,69.04,69.04,69.04,69.04
Marks Obtained,3.38,3.45,2.23,2.11,2.23,3.38,1.54,1.45,3.45,1.54,3.38,3.45,3.45,3.45,3.45
Obtained Percentage,84.50,69.00,44.60,52.75,44.60,84.50,77.00,24.16,69.00,30.80,84.50,69.00,69.00,69.00,69.00

In [12]:
Max = Max.rename(columns={"Unnamed: 0": "", "Unnamed: 2": "", "Unnamed: 3": "", "Unnamed: 5": "", "Unnamed: 6": "", "Unnamed: 7": "", "Unnamed: 8": "", "Unnamed: 9": "", "Unnamed: 10": "", "Unnamed: 12": "", "Unnamed: 15": ""})

In [13]:
Max

,BL,,,PI,,,,,,,CO,,PSO,PO,
Level Values,2.00,3.00,4.00,1.10,1.20,1.30,1.40,2.10,2.30,2.40,1.00,2.00,1.00,1.00,2.00
Max Marks,71.00,72.50,47.00,44.50,47.00,71.00,32.50,30.50,72.50,32.50,71.00,72.50,72.50,72.50,72.50
Total Percentage,84.52,69.04,44.76,52.97,44.76,84.52,77.38,24.20,69.04,30.95,84.52,69.04,69.04,69.04,69.04
Marks Obtained,3.38,3.45,2.23,2.11,2.23,3.38,1.54,1.45,3.45,1.54,3.38,3.45,3.45,3.45,3.45
Obtained Percentage,84.50,69.00,44.60,52.75,44.60,84.50,77.00,24.16,69.00,30.80,84.50,69.00,69.00,69.00,69.00

In [14]:
Max = Max.rename(index={"NaN": ""})

In [15]:
Max

,BL,,,PI,,,,,,,CO,,PSO,PO,
Level Values,2.00,3.00,4.00,1.10,1.20,1.30,1.40,2.10,2.30,2.40,1.00,2.00,1.00,1.00,2.00
Max Marks,71.00,72.50,47.00,44.50,47.00,71.00,32.50,30.50,72.50,32.50,71.00,72.50,72.50,72.50,72.50
Total Percentage,84.52,69.04,44.76,52.97,44.76,84.52,77.38,24.20,69.04,30.95,84.52,69.04,69.04,69.04,69.04
Marks Obtained,3.38,3.45,2.23,2.11,2.23,3.38,1.54,1.45,3.45,1.54,3.38,3.45,3.45,3.45,3.45
Obtained Percentage,84.50,69.00,44.60,52.75,44.60,84.50,77.00,24.16,69.00,30.80,84.50,69.00,69.00,69.00,69.00

In [16]:
def Bool(x):
    if (x == 2):
        print(Max.iloc[:, :1])
    elif(x == 3):
        print(Max.iloc[:, 1:2])
    elif(x == 4):
        print(Max.iloc[:, 2:3])
    else:
        print("Wrong value for BL")

In [17]:
print("Enter the value of BL: 2, 3, or 4")

Enter the value of BL: 2, 3, or 4

In [18]:
x = int(input())

2

In [19]:
Bool(x)

                        BL
Level Values          2.00
Max Marks            71.00
Total Percentage     84.52
Marks Obtained        3.38
Obtained Percentage  84.50

In [20]:
def Per(y):
    if (y == 1.10):
        print(Max.iloc[:, 3:4])
    elif(y == 1.20):
        print(Max.iloc[:, 4:5])
    elif(y == 1.30):
        print(Max.iloc[:, 5:6])
    elif(y == 1.40):
        print(Max.iloc[:, 6:7])
    elif(y == 2.10):
        print(Max.iloc[:, 7:8])
    elif(y == 2.30):
        print(Max.iloc[:, 8:9])
    elif(y == 2.40):
        print(Max.iloc[:, 9:10])
    else:
        print("Wrong value for PI")

In [21]:
print("Enter the value of PI: 1.10, 1.20, 1.30, 1.40, 2.10, 2.30 or 2.40")

Enter the value of PI: 1.10, 1.20, 1.30, 1.40, 2.10, 2.30 or 2.40

In [22]:
y = float(input())

1.10

In [23]:
Per(y)

                        PI
Level Values          1.10
Max Marks            44.50
Total Percentage     52.97
Marks Obtained        2.11
Obtained Percentage  52.75

In [24]:
def C(z):
    if (z == 1):
        print(Max.iloc[:, 10:11])
    elif(y == 2):
        print(Max.iloc[:, 11:12])
    else:
        print("Wrong value for CO")

In [25]:
print("Enter the value of CO: 1 or 2")

Enter the value of CO: 1 or 2

In [26]:
z = int(input())

2

In [27]:
C(z)

Wrong value for CO

In [28]:
def P(a):
    if (a == 1):
        print(Max.iloc[:, 12:13])
    else:
        print("Wrong value for PSO")

In [29]:
print("Enter the value of PSO: 1")

Enter the value of PSO: 1

In [30]:
a = int(input())

1

In [31]:
P(a)

                       PSO
Level Values          1.00
Max Marks            72.50
Total Percentage     69.04
Marks Obtained        3.45
Obtained Percentage  69.00

In [32]:
def PS(b):
    if (b == 1):
        print(Max.iloc[:, 13:14])
    elif(b == 2):
        print(Max.iloc[:, 14:15])
    else:
        print("Wrong value for PO")

In [33]:
print("Enter the value of PO: 1 or 2")

Enter the value of PO: 1 or 2

In [34]:
b = int(input())

1

In [35]:
PS(b)

                        PO
Level Values          1.00
Max Marks            72.50
Total Percentage     69.04
Marks Obtained        3.45
Obtained Percentage  69.00